<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header *ngIf="id === 0">Add User</nb-card-header>
      <nb-card-header *ngIf="id > 0">Edit User</nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="save()">
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth id="inputName"
                placeholder="Name"
                formControlName="name"
                [attr.aria-invalid]="name.invalid && name.touched ? true : null"
                >
                <ngx-validation-message label="Name"
                  [showRequired]="name?.errors?.required && name.touched">
                </ngx-validation-message>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input 
                type="email" 
                nbInput 
                fullWidth 
                id="inputEmail" 
                placeholder="Email" 
                formControlName="email"
                [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                >
                <ngx-validation-message label="Email"
                  [showRequired]="email?.errors?.required && email.touched"
                  [showPattern]="email?.hasError('pattern') && email.touched"
                  >
                </ngx-validation-message>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Role</label>
            <div class="col-sm-9">
              <nb-select
                [size]="'medium'"
                [fullWidth]="'true'"
                id="inputRole"
                formControlName="role"
                placeholder="Select Role"
                [attr.aria-invalid]="role.invalid && role.touched ? true : null"
                >
                <nb-option *ngFor="let role of roles" [value]="role.Id">{{role.name}}</nb-option>
              </nb-select>
              <ngx-validation-message label="Role"
                  [showRequired]="role?.errors?.required && role.touched">
              </ngx-validation-message>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Tenant</label>
            <div class="col-sm-9">
              <nb-select
                [size]="'medium'"
                [fullWidth]="'true'"
                id="inputTenant"
                formControlName="tenantId"
                placeholder="Select Tenant"
                [attr.aria-invalid]="tenantId.invalid && tenantId.touched ? true : null"
                >
                <nb-option *ngFor="let tenant of tenants" [value]="tenant.Id">{{tenant.Name}}</nb-option>
              </nb-select>
              <ngx-validation-message label="Tenant"
                  [showRequired]="tenantId?.errors?.required && tenantId.touched">
              </ngx-validation-message>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input 
                type="password" 
                nbInput 
                fullWidth 
                id="inputPassword" 
                placeholder="Password" 
                formControlName="password"
                [attr.aria-invalid]="password.invalid && password.touched ? true : null"
                >
                <ngx-validation-message label="Password"
                  [showRequired]="password?.errors?.required && password.touched"
                  >
                </ngx-validation-message>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button
              type="submit"
              nbButton status="primary"
              [disabled]="!form.valid"
              >Save</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
</div>
